@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  background-color: #fff3e0;
}

.about-page,
.products-page {
  padding: 40px 80px;
}


/* added later */
.about-section {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.about-section p {
  color: #555;
  line-height: 1.7;
  font-size: 16px;
}
.contact-section {
  background: #ffe7c2;
  padding: 60px 20px;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.contact-form button {
  background: orange;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: darkorange;
}

html {
  scroll-behavior: smooth;
}
